h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/*Class selector */
.common {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:larger;
    position: absolute;
    background-color: rgb(255, 105, 247);
    border: solid 1px; color: rgb(73, 22, 241);
}

.header{
    top: 5px;
    left: 5px;
    height: 100px;
    padding-left: 20px;
    right: 5px;
    z-index: 1;
}

.leftmenu {
    bottom: 5px;
    top: 110px;
    left: 5px;
    z-index: 2;
}

.mainbody {
    bottom: 5px;
    top: 110px;
    left: 85px;
    right: 161;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    z-index: 3;
}

.rightmenu {
    bottom: 5px;
    top: 110px;
    left: 300px;
}

.footer {
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 40px;
    z-index: 4;
}
